{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'portfolio_app/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <title>
            Portfolio App
        </title>
    </head>
    <body>
        {% block content %}
        
        {% endblock %}
    </body>

    <script type="text/javascript" src="{% static 'portfolio_app/index.js' %}"></script>
</html>