{% extends 'base.html' %}

{% block content %}

<style>
    /* .content{
        display: grid;
        grid-template-columns:2fr 3fr;
    } */
    * {
        box-sizing: border-box;
    }

    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }
    .bg {
        background: url('https://wallpaperaccess.com/full/2322646.jpg') no-repeat center center/cover;
        position: absolute;
        top: -40px;
        left: -40px;
        width: calc(100vw + 60px);
        height: calc(100vh + 60px);
        z-index: -1;
        filter: blur(0px);
    }
    .number-loading {
        font-size: 40px;
        color: rgba(226, 213, 31, 0.767);
    }
</style>

<div class="home-container">
    <section class = "bg"></section>
    <div class = "number-loading">
        0%
    </div>
</div>

<script>
    const loadNumber = document.querySelector('.number-loading')
    const bg = document.querySelector('.bg')

    let load = 0

    let time_interval = setInterval(blurred, 20)

    function blurred(){
        load++;

        if(load == 100){
            clearInterval(time_interval)
        }
        
        loadNumber.innerText = `${load}%`
        loadNumber.style.opacity = scale(load, 0, 100, 1, 0)

        bg.style.filter = `blur(${scale(load, 0, 100, 30, 0)}px)`
    }

    const scale = function(num, in_min, in_max, out_min, out_max) {
        return (num-in_min) * (out_max-out_min) / (in_max-in_min) +out_min;
    }

</script>

{% endblock %}