{% extends 'base.html' %}

{% block content %}

<style>
    /* .content{
        display: grid;
        grid-template-columns:2fr 3fr;
    } */
    * {
        box-sizing: border-box;
    }

    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }
    .bg {
        background: url('https://wallpaperaccess.com/full/2322646.jpg') no-repeat center center/cover;
        position: absolute;
        top: -40px;
        left: -40px;
        width: calc(100vw + 60px);
        height: calc(100vh + 60px);
        z-index: -1;
        filter: blur(0px);
    }
    .number-loading {
        font-size: 40px;
        color: rgba(226, 213, 31, 0.767);
        z-index: 9;
    }
    .next-button{
        background-color: rgba(187, 176, 17, 0.767);
        border:groove;
        font-size: 22px;
        color: #ffffff;
        padding: 20px;
        text-align: center;
        transition-duration: 0.1s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        border-radius: 12px;
        z-index: 2;
    }
    .next-button:hover{
        box-shadow: 0 12px 16px 0 rgba(116, 108, 8, 0.712), 0 17px 50px 0 rgba(116, 108, 8, 0.712);
    }
</style>

<div class="home-container">
    <section class = "bg"></section>
    <div class = "number-loading">
    </div>
    <a href="{% url 'home' %}" class="next">
        <input type="button" class="next-button" value="Enter The Zone" />
    </a>
</div>

<script>
    const loadNumber = document.querySelector('.number-loading')
    const bg = document.querySelector('.bg')
    const nextButton = document.querySelector('.next')

    let load = 0

    let time_interval = setInterval(blurred, 15)

    function blurred(){
        load++;

        if(load == 150){
            clearInterval(time_interval)
        }
        
        loadNumber.innerText = `${load}%`
        loadNumber.style.opacity = scale(load, 0, 100, 1, 0)
        loadNumber.style.fontSize = `${scale(load, 0, 100, 40, 500)}px`

        if(load==100){
            loadNumber.remove()
        }

        bg.style.filter = `blur(${scale(load, 0, 100, 30, 0)}px)`
        nextButton.style.opacity = scale(load, 101, 150, 0, 1)
    }

    const scale = function(num, in_min, in_max, out_min, out_max) {
        return (num-in_min) * (out_max-out_min) / (in_max-in_min) +out_min;
    }

</script>

{% endblock %}