{% extends 'portfolio_app/base.html' %}
{% load static %}

<!-- <link rel="stylesheet" href="{% static 'portfolio_app/style.css' %}"> -->

{% block content %}



<div class="slider-container">
    <div class="left-slide">
        <div style="background-color: rgb(209, 115, 0)">
            <h1>Reach Me</h1>
        </div>
        <div style="background-color: teal">
        <h1>My Socials</h1>
        </div>
        <div style="background-color: rgb(209, 115, 0)">
        <h1>My Journey</h1>
        </div>
        <div style="background-color:teal">
        <h1>Skills I Have</h1>
        </div>
        <div style="background-color:rgb(209, 115, 0)">
        <h1>Who am I</h1>
        </div>
    </div>
    
    <div class="right-slide">
        <div style="background-color: teal">
            <p>Aspiring Django Developer.</p>
            <p>Worked as a Software developer for a year in the valley.</p>
        </div>
        <div style="background-color: rgb(209, 115, 0)">
            <i class="fab fa-github"></i>
        </div>
        <div style="background-color: teal">
            <p>Experiences, College, Job ETC</p>
        </div>
        <div style="background-color: rgb(209, 115, 0)">
            <p>Logos of GITHUB, LINKEDIN, GMAIL</p>
        </div>
        <div style="background-color: teal">
            <p>Want to contact me?</p>
            <form method="post">
                {% csrf_token %}
                <input style="width:150%" class="form-control" type="text" name="name" placeholder="Type your name.">
                <input style="width:150%" class="form-control" type="email" name="address" placeholder="Type your email.">
                <input style="width:150%" class="form-control" type="text" name="message" placeholder="Type your message.">
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>        
    </div>
    <div class="action-buttons">
      <button class="down-button">
        <i class="fas fa-arrow-down"></i>
      </button>
      <button class="up-button">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>
  </div>


<!-- <div class="home-container">
    <section class = "bg"></section>
    <div class = "number-loading">
    </div>
    <a href="{% url 'home' %}" class="next">
        <input type="button" class="next-button" value="Enter The Zone" />
    </a>
</div>
<script type="text/javascript" src="{% static 'portfolio_app/index.js' %}"></script> -->
{% endblock %}